p.link{
font-style: italic;
line-height: 15px;
color: black;
}
p.paragraph{
font-style: normal;
line-height: 15px;
color: black;
}
p.paragraph#para2{
line-height: 20px;
font-style: normmal;
color: red; 
}