p.para1{
line-height: 15px;
color: black;
}
p.para2{
line-height: 20px;
color: red; 
}
/*Zastanów siê jak bêdzie wygl¹da³ interesuj¹cy nas tekst. Czy pierwszy bêdzie czarny, a drugi czerwony? A mo¿e oba bêd¹ czarne lub oba czerwone?*/