p.para1{
line-height: 15px;
color: black;
}
p.para2{
line-height: 20px;
color: red; 
}
/*Zastanów się jak będzie wyglądał interesujący nas tekst. Czy pierwszy będzie czarny, a drugi czerwony? A może oba będą czarne lub oba czerwone?*/